.progress-bar {
    position: relative;
}
.current-progress {
    background-color: #ffea00;
    height: 30px;
    position: relative;
}

.number {
    padding-top: 5px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
