<div class="flex flex-col flex-auto min-w-0 bg-card dark:bg-transparent overflow-y-auto">

    <!-- Header -->
    <div
        class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">
        <!-- Loader -->
        <div
            class="absolute inset-x-0 bottom-0"
            *ngIf="isLoading">
            <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
        </div>
        <!-- Title -->
        <div class="text-4xl font-extrabold tracking-tight">Dashboard</div>
        <!-- Actions -->
        <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
            <button
                class="ml-4"
                mat-flat-button
                [color]="'primary'">
                <mat-icon svgIcon="heroicons_outline:presentation-chart-line"></mat-icon>
                <span class="ml-2 mr-1">Generate Info Map</span>
            </button>
            <button
                class="ml-4"
                mat-flat-button
                [color]="'primary'">
                <mat-icon svgIcon="heroicons_outline:information-circle"></mat-icon>
                <span class="ml-2 mr-1">Bayes Information</span>
            </button>
        </div>

    </div>
    <!-- Main -->
    <div class=" px-4 ">
        <!-- Chart Table -->

        <div class="section__wrapper shadow-xl mb-15">
            <h2 class="text-3xl font-bold m-3 ml-6">Chart</h2>
            <div class="flex ">

            </div>
        </div>

        <!-- Object Table -->
        <div class="section__wrapper shadow-xl mb-15">
            <div class="flex  object-table">
                <table>
                    <thead>
                    <tr>
                        <th class="right-thick">
                            List of Objects
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <ng-container *ngFor="let object of objectNameList">
                        <tr>
                            <td class="font-bold right-thick">
                                {{object}}
                            </td>
                        </tr>
                    </ng-container>
                    </tbody>
                </table>
                <table class="flex-grow w-100">
                    <thead>
                    <tr>
                        <th class="right-thick" colspan="2">
                            <br>
                        </th>

                        <ng-container *ngFor="let feature of objectHorizonFeatures">
                            <th>
                                {{feature.groupName}}
                            </th>
                        </ng-container>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td></td>
                        <td class="right-thick"></td>
                        <ng-container *ngFor="let feature of objectHorizonFeatures">
                            <td>
                                {{feature.description}}
                            </td>
                        </ng-container>
                    </tr>
                    <ng-container *ngFor="let feature of objectVerticalFeatures">
                        <tr>
                            <td class="font-bold">{{feature.groupName}}</td>
                            <td class="right-thick">{{feature.description}}</td>
                            <ng-container *ngFor="let feature of objectHorizonFeatures">
                                <td>

                                </td>
                            </ng-container>
                        </tr>
                    </ng-container>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Info map table-->
        <div class="section__wrapper shadow-xl mt-15">
            <div class="flex  info-map-table">
                <table class="flex-grow w-100">
                    <thead>
                    <tr>
                        <th class="right-thick" colspan="6">
                            <br>
                        </th>

                        <ng-container *ngFor="let group of horizonGroups">
                            <th [colSpan]="group.featureList.length" class="right-thick">
                                {{group.name}}
                            </th>
                        </ng-container>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td rowspan="3" colspan="6" class="right-thick" style="border-bottom: hidden!important;"></td>
                        <ng-container *ngFor="let group of horizonGroups">
                            <ng-container *ngFor="let feature of group.featureList; let last = last">
                                <td class="text-vertical bottom-thick"
                                    [ngClass]="{'right-thick': last}">
                                    {{feature.description}}
                                </td>
                            </ng-container>
                        </ng-container>
                    </tr>
                    <tr>
                        <ng-container *ngFor="let group of horizonGroups">
                            <ng-container *ngFor="let feature of group.featureList; let last = last">
                                <td class=""
                                    [ngClass]="{'right-thick': last}">
                                    {{group.id}}
                                </td>
                            </ng-container>
                        </ng-container>
                    </tr>
                    <tr>
                        <ng-container *ngFor="let group of horizonGroups">
                            <ng-container *ngFor="let feature of group.featureList; let last = last">
                                <td class=""
                                    [ngClass]="{'right-thick': last}">
                                    {{feature.features}}
                                </td>
                            </ng-container>
                        </ng-container>
                    </tr>
                    <tr>
                        <td colspan="4" rowspan="2" style="border-top: hidden!important;">

                        </td>
                        <td rowspan="2" class="text-vertical bg-black text-white">
                            P(HR)Atr)
                        </td>
                        <td rowspan="2" class="text-vertical bg-black text-white right-thick">
                            I
                        </td>
                        <ng-container *ngFor="let group of horizonGroups">
                            <ng-container *ngFor="let feature of group.featureList; let last = last">
                                <td class=""
                                    [ngClass]="{'right-thick': last}">
                                    <app-table-cell-progress-background [number]="getRandomNumber()">
                                    </app-table-cell-progress-background>
                                </td>
                            </ng-container>
                        </ng-container>
                    </tr>
                    <tr>
                        <ng-container *ngFor="let group of horizonGroups">
                            <ng-container *ngFor="let feature of group.featureList; let last = last">
                                <td class=""
                                    [ngClass]="{'right-thick': last}">
                                    {{getRandomNumber()}}
                                </td>
                            </ng-container>
                        </ng-container>
                    </tr>

                    <ng-container *ngFor="let group of verticalGroups">
                        <ng-container *ngFor="let feature of group.featureList; let last = last; let first = first">
                            <tr>
                                <td *ngIf="first" [rowSpan]="group.featureList.length" class="right-thick font-bold">
                                    {{group.name}}
                                </td>
                                <td class="right-thick">
                                    {{feature.description}}
                                </td>
                                <td class="">
                                    {{group.id}}
                                </td>
                                <td class="right-thick">
                                    {{feature.features}}
                                </td>
                                <td>
                                    <app-table-cell-progress-background [number]="getRandomNumber()">
                                    </app-table-cell-progress-background>
                                </td>
                                <td class="right-thick">
                                    <app-table-cell-progress-background [number]="getRandomNumber()">
                                    </app-table-cell-progress-background>
                                </td>
                                <ng-container *ngFor="let group of horizonGroups">
                                    <ng-container *ngFor="let feature of group.featureList; let last = last">
                                        <td class=""
                                            [ngClass]="{'right-thick': last}">
                                            {{getRandomNumber()}}
                                        </td>
                                    </ng-container>
                                </ng-container>
                            </tr>
                        </ng-container>

                    </ng-container>
                    </tbody>
                </table>
            </div>
        </div>

    </div>

</div>
